dist/rating-widget.html
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Rating Widget</title>
  <link rel="stylesheet" href="./rating-widget.css">
</head>
<body>
  <div style="width: 500px; margin: 0 auto;">
    <form class="rw-review-form">
      <h3 class="rw-review-form__title">Rate us:</h3>
      <div class="rw-review-form__grid">
        <div class="rw-rating rw-review-form__rating"><span class="rw-rating__points"><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span></span><span class="rw-rating__value">0/10</span></div>
        <div class="rw-review-form__submit">
          <button class="btn btn-primary" type="submit">Next</button>
        </div>
      </div>
    </form>
    <div class="rw-reviews-list">
      <div class="rw-review rw-reviews-list__item">
        <div class="rw-review-title rw-review__title"><a class="rw-avatar rw-review-title__pic" href="#"><img class="rw-avatar__img" src="./img/avatar_snow.jpg" alt="John Snow"></a>
          <div class="rw-review-title__content">
            <div class="rw-rating rw-review-title__rating"><span class="rw-rating__points"><span class="rw-star rw-star--active"></span><span class="rw-star rw-star--active"></span><span class="rw-star rw-star--active"></span><span class="rw-star rw-star--active"></span><span class="rw-star rw-star--active"></span></span><span class="rw-rating__value">10/10</span></div>
            <div class="rw-review-title__author"> <a class="rw-profile-link" href="#">John Snow</a></div><span class="rw-review-title__date">28 мая</span>
          </div>
        </div>
      </div>
      <div class="rw-review rw-reviews-list__item">
        <div class="rw-review-title rw-review__title"><a class="rw-avatar rw-review-title__pic" href="#"><img class="rw-avatar__img" src="./img/avatar_dayeneris.jpg" alt="Dayeneris Targarien"></a>
          <div class="rw-review-title__content">
            <div class="rw-rating rw-review-title__rating"><span class="rw-rating__points"><span class="rw-star rw-star--active"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span><span class="rw-star"></span></span><span class="rw-rating__value">1/10</span></div>
            <div class="rw-review-title__author"> <a class="rw-profile-link" href="#">Dayeneris Targarien</a></div><span class="rw-review-title__date">2 апреля</span>
          </div>
        </div>
        <p class="rw-review__text">
          Burn it.
          
        </p>
      </div>
      <div class="rw-review rw-reviews-list__item">
        <div class="rw-review-title rw-review__title"><a class="rw-avatar rw-review-title__pic" href="#">
            <spam class="rw-avatar__text">NO</spam></a>
          <div class="rw-review-title__content">
            <div class="rw-rating rw-review-title__rating"><span class="rw-rating__points"><span class="rw-star rw-star--active"></span><span class="rw-star rw-star--active"></span><span class="rw-star rw-star--active"></span><span class="rw-star rw-star--percent-50"></span><span class="rw-star"></span></span><span class="rw-rating__value">7/10</span></div>
            <div class="rw-review-title__author"><a class="rw-profile-link" href="#">No One</a></div><span class="rw-review-title__date">25 декабря 2017</span>
          </div>
        </div>
        <p class="rw-review__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet mollis erat. Proin nec elit ultrices, 
          efficitur sem quis, auctor lorem. Donec eu suscipit tellus. Pellentesque nec mattis neque. Nulla vel lectus et 
          tortor cursus aliquam sed ac nisl. Vestibulum condimentum lobortis dictum. Aliquam sodales odio in elit porttitor,
          sed scelerisque ex varius. Morbi dapibus orci in augue accumsan lobortis.
          
        </p>
      </div>
      <div class="rw-pagination rw-reviews-list__pagination">
        <div><span>1 из </span><a href="#">46</a></div><a class="rw-pagination__next" href="#">дальше &#10139;</a>
      </div>
    </div>
  </div>
</body>

src/rating-widget.pug
doctype html
head
  meta(charset="utf-8")
  title Rating Widget
  link(rel="stylesheet" href="./rating-widget.css")
body
  
  div(style="width: 500px; margin: 0 auto;")
    form.rw-review-form
      h3.rw-review-form__title Rate us:
      .rw-review-form__grid
        .rw-rating.rw-review-form__rating
          span.rw-rating__points
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
          span.rw-rating__value 0/10
        .rw-review-form__submit
          button.btn.btn-primary(type="submit") Next
    .rw-reviews-list
      .rw-review.rw-reviews-list__item
        .rw-review-title.rw-review__title
          a.rw-avatar.rw-review-title__pic(href="#")
            img.rw-avatar__img(src="./img/avatar_snow.jpg" alt="John Snow")
          .rw-review-title__content
            .rw-rating.rw-review-title__rating
              span.rw-rating__points
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
              span.rw-rating__value 10/10
            .rw-review-title__author 
              a.rw-profile-link(href="#") John Snow
            span.rw-review-title__date 28 мая

      .rw-review.rw-reviews-list__item
        .rw-review-title.rw-review__title
          a.rw-avatar.rw-review-title__pic(href="#")
            img.rw-avatar__img(src="./img/avatar_dayeneris.jpg" alt="Dayeneris Targarien")
          .rw-review-title__content
            .rw-rating.rw-review-title__rating
              span.rw-rating__points
                span.rw-star.rw-star--active
                span.rw-star
                span.rw-star
                span.rw-star
                span.rw-star
              span.rw-rating__value 1/10
            .rw-review-title__author 
              a.rw-profile-link(href="#") Dayeneris Targarien
            span.rw-review-title__date 2 апреля
        p.rw-review__text.
          Burn it.
        
      .rw-review.rw-reviews-list__item
        .rw-review-title.rw-review__title
          a.rw-avatar.rw-review-title__pic(href="#")
            spam.rw-avatar__text NO
          .rw-review-title__content
            .rw-rating.rw-review-title__rating
              span.rw-rating__points
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--percent-50
                span.rw-star
              span.rw-rating__value 7/10
            .rw-review-title__author
              a.rw-profile-link(href="#") No One
            span.rw-review-title__date 25 декабря 2017
        p.rw-review__text.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet mollis erat. Proin nec elit ultrices, 
          efficitur sem quis, auctor lorem. Donec eu suscipit tellus. Pellentesque nec mattis neque. Nulla vel lectus et 
          tortor cursus aliquam sed ac nisl. Vestibulum condimentum lobortis dictum. Aliquam sodales odio in elit porttitor,
          sed scelerisque ex varius. Morbi dapibus orci in augue accumsan lobortis.
          
      .rw-pagination.rw-reviews-list__pagination
        div
          span 1 из 
          a(href="#") 46
        a.rw-pagination__next(href="#") дальше &#10139;
